


@keyframes example {
    from {
        background-color: red;
    }
    to {
        background-color: green;
    }
}

/* The element to apply the animation to */
#anim {
    width: 100px;
    height: 100px;
    background-color: red;

}

.animate{
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}